/*  universal CSS*/
* {
    font-family: 'Mali', cursive;
}

html {
    background-color: #B1D0FF;
}

h1, h2 {
    font-family: 'Gluten', cursive;
}

h1 {
    font-weight: 800;
    font-size: 40px;
}

h2 {
    margin: 1.5em 1em 0.3em 0;
    font-size: 30px;
}

/* home CSS */
.home {
    display: flex;
    justify-content: center;
    background-image: url('images/e_background.png');
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 100vw;
    max-height: 100vh;
}

#leftHalf {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3em;
}

img {
    display: flex;
    justify-content: center;
}

#loginForm {
    display: flex;
    flex-direction: column;
    margin: 1em 1em 1em 4em;
    padding: 3em;
    width: 30%;
    background-color: white;
    border-radius: 15px;
}

#loginInput {
    display: flex;
    flex-direction: column;
    margin: 1em 1em 1em 0;
    max-width: 50%;
}

#loginInput input {
    width: 80%;
    border: none;
    background-color: rgb(169, 169, 169);
    border-radius: 10px;
    margin: 0.2em;
    padding: 0.4em 1.5em;
}

#loginInput button {
    margin-top: 1em;
    padding: 0.2em 1em;
    max-width: 40%;
    background-color: #438EFF;
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: black 5px 5px;
}

#guest {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#guest p {
    font-size: 15px;
}

#guest button {
    margin: 0.4em 0;
    justify-content: left;
    padding: 0.3em 0.3em;
    max-width: 40%;
    text-align: center;
    background-color: white;
    border: black solid 1px;
    border-radius: 10px;
    box-shadow: black 5px 5px;
}

#guest button:hover {
    background-color: #438EFF;
    color: white;
    border: #438EFF 1px solid;
}

button:hover {
    cursor: pointer;
}

/* question set selection - guest flow */
.beginGame {
    display:flex;
    background-image: url('images/q_background.png');
    background-image: 100%;
}

section#selectTopic {
    width: 60vw;
    height: 80vh;

}

/* all sections style */
/* section.sectionStyle {
    margin: 5em;
} */

.q-set-select h2 {
    padding-top: 2em;
}

.fa-arrow-left {
    font-size: 40px;
    margin: 1em 1em;
}

.fa-arrow-left:hover {
    cursor: pointer;
}
/* all section style END */


.hidden {
    display: none;
}

/* user test & overlay styling */
#userTestBtn button {
    /* display: flex; */
    justify-content: space-around;
    margin-top: 1em;
    padding: 0.5em 1em;
    max-width: 100%;
    background-color: rgb(255, 77, 106);
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: black 5px 5px;
    font-size: 25px;
}

#userTestBtn button:hover {
    background-color: rgb(212, 31, 61);
}

#overlay {
    position: absolute;
    background-color: white;
    padding: 2em;
    top: 0;
    left: 0;
    width: 50vw;
    height: 50vh;
    transform: translate(40%, 30%);
    border-radius: 30px;
    border: rgb(255, 234, 47) 10px solid;
}

#ruleSection {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

#rules {
    position: absolute;
    background-color: white;
    padding: 2em;
    top: 0;
    left: 0;
    width: 75vw;
    height: fit-content;
    transform: translate(15%, 10%);
    border-radius: 30px;
    border: rgb(255, 234, 47) 10px solid;
}

#rulesContent {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50vw;
}

#rulesContent h1 {
    margin: 0.5em 0 0 0;
}

#rulesContent h4 {
    margin: 0;
    font-size: 20px;
}

#rulesContent ol li {
    font-size: 18px;
    line-height: 1.5em;
}

#rulesContent p {
    margin: 0 0 1em 0;
    font-size: 15px;
    color: red;
}

#rulesContent button {
    width: 10%;
}


button.ruleBtn {
    display: flex;
    justify-content: space-around;
    padding: 0.3em 0.8em;
    max-width: 100%;
    background-color: rgb(255, 77, 106);
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: black 5px 5px;
    font-size: 20px;
}

.ruleBtn:hover {
    cursor: pointer;
    background-color: rgb(212, 31, 61);
}

.closeRule {
    padding: 0.3em 0.8em;
    max-width: 100%;
    background-color: rgb(255, 77, 106);
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: black 5px 5px;
    font-size: 15px;
}

#groupBtn > section {
    display: flex;
}

#startBtn button:hover {
    margin: 0.5em;
    padding: 0.5em 1em;
    max-width: 30%;
    background-color: rgb(212, 31, 61);
    border: none;
    border-radius: 15px;
    box-shadow: black 5px 5px;
    font-size: 20px;
}

.color-square {
    border-radius: 5px;
    height: 2rem;
    width: 2rem;
}

.square-1 {
    background-color: black;
}

.square-2 {
    background-color: red;
}

.square-3 {
    background-color: blue;
}

.square-4 {
    background-color: green;
}