/*  universal CSS*/
* {
    font-family: 'Mali', cursive;
}

html {
    background-color: #B1D0FF;
}

h1, h2 {
    font-family: 'DynaPuff', cursive;
}

h1 {
    font-weight: 800;
    font-size: 60px;
    margin: 0.5em;
}

h2 {
    margin: 1.5em 1em 0.3em 0;
    font-size: 3rem;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

/* cursor pointer */
button:hover,  #startBtn:hover {
    cursor: pointer;
}

/* home CSS */
.home {
    justify-content: center;
    background-image: url('images/q_background.png');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    width: 100%;
}

#centerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

button#playNow {
    display: flex;
    justify-content: center;
    margin: 0.5em auto auto auto;
    padding: 0.3em 0.5em;
    background-color: rgb(255, 77, 106);
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: black 5px 5px;
    font-size: 30px;
}

.teamSelect h1 {
    margin: 0;
}

.teamSelect {
    justify-content: center;
    background-image: url('images/e_background.png');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    width: 100%;
}

#fillNames {
    margin: 0 5em 5em 5em;
}

/* all sections style */
.fa-arrow-left {
    font-size: 40px;
    margin: 1em 1em;
}

.fa-arrow-left:hover {
    cursor: pointer;
}
/* all section style END */

.hidden {
    display: none;
}

#overlay {
    position: absolute;
    background-color: white;
    padding: 2em;
    top: 0;
    left: 0;
    width: 50vw;
    height: 50vh;
    transform: translate(40%, 30%);
    border-radius: 30px;
    border: rgb(255, 234, 47) 10px solid;
}

#rules {
    position: absolute;
    display: none;
    background-color: rgb(255, 237, 207);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

#rulesContent {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}

#rulesContent h1 {
    margin: 0.5em 0 0 0;
}

#rulesContent h4 {
    margin: 0;
    font-size: 2rem;
}

#rulesContent ol li {
    font-size: 1.5rem;
    line-height: 1.5em;
}

#rulesContent p {
    margin: 0 0 1em 0;
    font-size: 1.5rem;
    color: red;
}

#rulesContent button {
    width: 10%;
}


button.ruleBtn {
    position: absolute;
    right: 5%;
    top: 7%;
    padding: 0.3em 0.5em;
    background-color: rgb(255, 77, 106);
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: black 5px 5px;
    font-size: 1.5rem;
}

.ruleBtn:hover, .closeRule:hover, #playNow:hover {
    cursor: pointer;
    background-color: white;
    color:  rgb(255, 77, 106);
}

.closeRule {
    margin: 0 auto;
    padding: 0.3em 0.5em;
    background-color: rgb(255, 77, 106);
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: black 5px 5px;
    font-size: 1.5rem;
}

#fillNames {
    text-align: center;
}

#groupBtn > section {
    display: flex;
    margin: 0.75rem 0;
}

#groupBtn {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 2em auto auto auto;
    padding: 0 0 1em 0;
    width: 35%;
    border-radius: 15px;
}

#groupBtn label {
    width: 5rem;
}

form#groupBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
}


input#startBtn {
    margin: 2em auto auto auto;
    padding: 0.5em 1em;
    max-width: 30%;
    background-color: rgb(255, 77, 106);
    border: none;
    border-radius: 15px;
    box-shadow: black 5px 5px;
    font-size: 20px;
    color: white;
}

input#startBtn:hover {
    margin: 2em auto auto auto;
    padding: 0.5em 1em;
    max-width: 30%;
    background-color:  white;
    border: none;
    border-radius: 15px;
    box-shadow: black 5px 5px;
    font-size: 20px;
    color:  rgb(255, 77, 106);
}

input.teamname {
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.157);
    padding-left: 0.75rem;
}

#teamname-warning-container {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    padding-top: 25vh;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#teamname-warning {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    color: rgb(255, 77, 106);
    font-weight: bold;
    font-size: 2em;
    background-color: rgb(255, 237, 207);
    margin: auto;
    padding: 1rem 2rem;
    border-radius: 15px;
    width: 20em;
    height: 5em;
}

#closeWarning {
    margin: 1.5rem 1rem 0 1rem;
    padding: 0.3em 0.5em;
    background-color: rgb(255, 77, 106);
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: black 5px 5px;
    font-size: 1.3rem;
}

#closeWarning:hover {
    background-color:  white;
    color:  rgb(255, 77, 106);
}

.color-square {
    border-radius: 5px;
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 0.25rem;
}

.square-1 {
    background-color: black;
}

.square-2 {
    background-color: #0004c2;
}

.square-3 {
    background-color: #ff2222;
}

.square-4 {
    background-color: #ffd40b;
}
