/*  universal CSS*/
* {
    font-family: 'Mali', cursive;
}

html {
    background-color: #B1D0FF;
    max-height: 100vh;
}

h1, h2 {
    font-family: 'Mali', cursive;
}

h1 {
    font-size: 3rem;
    margin: 1rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 3em;
    width: 100%;
    height: 100%;
}

/* 5 rows x 8 columns */
#board-container {
    width: fit-content;
}

.row {
    display: flex;
}

#lower-row {
    flex-direction: row-reverse;
}

#left-column {
    flex-direction: column-reverse;
}

.middle-container {
    display: flex;
    width: 100%;
}

.middle-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    background-color: white;
    border: solid black 1px;
    height: 8rem;
    width: 8rem;
}

.play-container, .dice-container, .question-container {
    background-color: aliceblue;
}

.play-container {
    border-radius: 1rem;
    height: 90%;
    width: 95%;
}

.dice-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dice-container > section {
    width: 45%;
}

.dice-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.roll-result-container {
    width: 35%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.question-display {
    /* margin: 0 2rem; */
    display: flex;
    flex-direction: column;
    width: 60%;
}

.question-display button {
    margin: auto auto auto 0;
}

.question-item {
    margin-bottom: 1.25rem;
}

.answer-item {
    margin-bottom: 0.75rem;
}
/* 
.question-container section {
    display: flex;
    flex-direction: column;
} */

.turn-display {
    font-size: 1rem;
}

.status-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2.status-header-text {
    font-weight: bold;
    font-size: 30px;
}

.answer-container {
    border-radius: 10px;
    background-color: #494949;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

button#nextTeamBtn {
    margin-bottom: 3em;
}

.status-container > section {
    width: 80%;
}

.answer-display {
    font-size: 1.5rem;
}

button {
    padding: 0.6rem 1rem;
    background-color: rgb(255, 77, 106);
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: black 5px 5px;
    font-size: 1rem;
    cursor: pointer;
}

.mover-img {
    position: absolute;
    width: 2rem;
    transition: all 0.3s ease-in-out;
    animation-duration: 2s;
}

/* CSS for first cell */
.cell-1 {
    background-image: url("../images/start.png");
    background-position: center;
	background-repeat: no-repeat;
	background-size: 8rem;
}

.cell-2 {
    background-image: url("../images/arrow_ln.png");
    background-position: center;
	background-repeat: no-repeat;
	background-size: 8rem;
}

.cell-3 {
    background-image: url("../images/bike_ln.png");
    background-position: center;
	background-repeat: no-repeat;
	background-size: 8rem;
}

.cell-4, .cell-5, .cell-6, .cell-7 {
    background-image: url("../images/plain_ln.png");
    background-position: center;
	background-repeat: no-repeat;
	background-size: 8rem;
}

.cell-8 {
    background-image: url("../images/egg1.png") ;
    background-position: center;
	background-repeat: no-repeat;
	background-size: 8rem;
}

.cell-9, .cell-10, .cell-11 {
    background-image: url("../images/vertical_ln.png");
    background-position: center;
	background-repeat: no-repeat;
	background-size: 8rem;
}

.cell-12 {
    background-image: url("../images/egg2.png");
    background-position: center;
	background-repeat: no-repeat;
	background-size: 12rem;
}

.cell-13 {
    background-image: url("../images/arrow_left.png");
    background-position: center;
	background-repeat: no-repeat;
	background-size: 8rem;
}

.cell-14 {
    background-image: url("../images/bike_left.png") ;
    background-position: center;
	background-repeat: no-repeat;
	background-size: 8rem;
}

.cell-15, .cell-16, .cell-17, .cell-18 {
    background-image: url("../images/plain_ln.png");
    background-position: center;
	background-repeat: no-repeat;
	background-size: 8rem;
}

.cell-19 {
    background-image: url("../images/egg4.png") ;
    background-position: center;
	background-repeat: no-repeat;
	background-size: 12rem;
}

.cell-20, .cell-21, .cell-22 {
    background-image: url("../images/vertical_ln.png");
    background-position: center;
	background-repeat: no-repeat;
	background-size: 8rem;
}

.final-result {
    background-image: url("../images/congrats.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 100%;
    width: 100%;
}

.final-result h3 {
    text-align: center;
}

.hidden {
    display: none;
}

#returnHome {
    text-decoration: none;
    padding: 0.6rem 1rem;
    background-color: rgb(255, 77, 106);
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: black 5px 5px;
    font-size: 1rem;
    cursor: pointer;
}